.routes-sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: powderblue;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;

}


.routes-sidebar li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: peru;
    display: block;
    transition: 0.3s;
}

.routes-sidebar li:hover {
    color: dodgerblue;
}

.routes-sidebar .close-button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .routes-sidebar {padding-top: 15px;}
    .routes-sidebar li {font-size: 18px;}
}