.top-navbar {
    overflow: hidden;
    background-color: purple;
    
}

.top-navbar a {
    float: left;
    display: block;
    color: palegreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-navbar a:hover {
    background-color: peachpuff;
    color: violet;
    float: left;
}

.routes-navbar {
    overflow: hidden;
    background-color: plum;
    border-radius: 0px 0px  4px 4px;
}

.routes-navbar li {
    float:left;
    display: block;
    color: palegoldenrod;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.routes-navbar li:hover {
    background-color: papayawhip;
    color: palevioletred;
    float: left;
}
