.search-button {
    margin: 8px 0;
    background-color: firebrick;
    color: white;
    padding: 15px, 32px;
    text-align: center;
    border: 1px solid white;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.search-button:hover {
    margin: 14px 0;
    background-color: white;
    color: firebrick;
    border: 1px solid firebrick;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.search-button:active {
    background-color: whitesmoke;
    color: firebrick;
    border: 1px solid firebrick;
    box-shadow: 0 5px #666666;
    transform: translateY(4px);
}