.styleform {
    color: slateblue;
}

.titleInput {
    color: peru;
}

.valueInput {
    color: peru;
}

.submitbutton {
    background-color: firebrick;
    color: white;
    padding: 15px, 32px;
    text-align: center;
    border: 1px solid white;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    
}

.submitbutton:hover {
    background-color: white;
    color: firebrick;
    border: 1px solid firebrick;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}